html,body{
  font-family: Coda;
  height: 100%;
  width: 100%;
}
.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.social-media{
  width: 20px;
  height: 20px;
}
.twitter-follow-button{
  width: 20px;
  height: 30px;
}

.container-for-rotating-container{
  position: relative;
  height: 25%;
  font-size: 0.9rem;
}
.rotating-container{
    position: relative;
    width: 15vw;
    height: 15vw;
    text-align: center;
}

.box1{
    position: absolute;
}

.box1-p{
    left: 15%;
    top: 50%;
    border: solid gray 1px;
    color: gray;
    background: lightgrey;
    border-radius: 50%;
    padding: 2%;
}
.box2{
  position: absolute;
}

.box2-p{
    left: 25%;
    top: 40%;
    z-index: 2;
    border: solid gray 1px;
    color: gray;
    background:white;
    border-radius: 50%;
    padding: 2%;
}
.box3{
    position: absolute;
}

.box3-p{
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    border: solid gray 1px;
    color: gray;
    background: lightgrey;
    border-radius: 50%;
    z-index: 3;
    padding: 2%;
}
.box4{
    position: absolute;

}
.box4-p{
    right: 25%;
    top: 40%;
    z-index: 2;
    border: solid gray 1px;
    color: gray;
    background:white;
    border-radius: 50%;
    padding: 2%;
}
.box5{
    position: absolute;

}
.box5-p{
    right: 15%;
    top: 50%;
    border: solid gray 1px;
    color: gray;
    background: lightgrey;
    border-radius: 50%;
    padding: 2%;
}
.button{
    position: relative;
    top: 200px;
}

.small-view{
  display: none;
}

@media screen and (max-width: 1000px) {
  .small-view {
    display: block;
  }
  .container-for-rotating-container{
    display: none;
  }
}