html, body{
  font-family: Coda;
  height: 100%;
  width: 100%;
  font-size: 1.0rem;
}

.bg-image{
  background-image: url(f1a7e64c54a81d4346ef50d0a6df3f0a.jpg);
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.top-display{
  margin-top: 10%;
}

.messageStatus{
  display: none;
  color: black;
}

.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.social-media{
  width: 20px;
  height: 20px;
}
.twitter-follow-button{
  width: 20px;
  height: 30px;
}

.container-for-rotating-container{
  height: 25%;
}

.container-for-rotating-container h1{
  text-align: center;
  height: 20%;
}

.rotating-container-div{
  text-align: center;
  position: relative;
  height: 50%;
  padding: 0%;
  margin: 0%;
}

.rotating-container{
    width: 18%;
    height: 100%;
    position: absolute;
    text-align: center;
    border-radius: 20px;
    word-wrap: normal;
    box-sizing: border-box;
}

.rotating-container span{
  padding: 0%;
  margin: 0%;
  font-size: .75rem;
}

.rotating-container > p{
  margin-bottom: 1%;
  transition: 1s;
}

.rotating-container > span{
  padding: 0%;
  font-size: .75rem;
  display: inline-block;
}

.box1{
  color: gray;
  background:white;
  padding: 1%;
  transition: 2s; 
  left: 0%;
  box-shadow: 1px 1px 4px rgb(0,0,0,0.1);
}

.box2{
  color: gray;
  background:white;
  padding: 1%;
  transition: 2s;
  left: 20%; 
  box-shadow: 1px 1px 4px rgb(0,0,0,0.1);
}

.box3{
  color: gray;
  background:white;
  padding: 1%;
  transition: 2s;
  left: 40%; 
  box-shadow: 1px 1px 4px rgb(0,0,0,0.1);
}

.box4{
  color: gray;
  background:white;
  padding: 1%;
  transition: 2s;
  left: 60%; 
  box-shadow: 1px 1px 4px rgb(0,0,0,0.1);
}

.box5{
  color: gray;
  background:white;
  padding: 1%;
  transition: 2s; 
  left: 80%;
  box-shadow: 1px 1px 4px rgb(0,0,0,0.1);
}

.button{
    position: relative;
    top: 200px;
}

.small-view{
  display: none;
}

.chatImg {
  display: inline-block;
  background-image: url(56c0fe235be3dc4a0c51a831454fb448.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 15vh;
  min-height: 15vh;
}

.nasaImg {
  display: inline-block;
  background-image: url(7ca3a581f0c0e4faa3e34462ffdd829d.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 15vh;
  min-height: 15vh;
}

.wcImg {
  display: inline-block;
  background-image: url(ef7c93b57ce83d055b00351271123591.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 15vh;
  min-height: 15vh;
}

.todoImg {
  display: inline-block;
  background-image: url(41e211cbfb8385a4605ae3205a6170ec.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 15vh;
  min-height: 15vh;
}

@media screen and (max-width: 1000px) {
  .container{
    font-size: .75rem;
  }
  .small-view {
    display: block;
  }
  .container-for-rotating-container{
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .pic-socialMedia{
    display: none;
  }
}

@media screen and (max-height: 750px) {
  .small-view {
    display: block;
  }
  .container-for-rotating-container{
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .resources{
    background: none;
  }
}

